@CHARSET "UTF-8";

.old-content .highlightableWrapper {
	padding: 3px 6px;
	width: auto;
}

.old-content .highlightableWrapperBorder {
	
}

.old-content .highlightableElement {
	margin: 0px 1px;
}

.old-content .borderSpaces {
	padding: 1px;
}

.old-content .wrapperBorderRadius {
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
}

.old-content .higlightedBorderRadius {
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.old-content .highlightedBorder {
	border: 1px #CFC6C6 dotted;
}

.old-content .strongerHighlightedBorder {
	-webkit-box-shadow: 0 1px 2px 1px #96817B !important;
	-moz-box-shadow: 0 1px 2px 1px #96817B !important;
	box-shadow: 0 1px 2px 1px #96817B !important;
	border: 1px solid gray;
}